[user]
	email = otavio.napoli@gmail.com
	name = Otavio Napoli
[credential]
	helper = "!f() { /home/lopani/Doutorado/har-manifold-tools/.vscode-server/bin/f80445acd5a3dadef24aa209168452a3d97cc326/node /tmp/vscode-remote-containers-2c04df8e7c2789766796f26981dc47982ce701ad.js $*; }; f"
