# ignore these folders
**/.ipynb_checkpoints/
*__pycache__*
.vscode/
**/build/
**/dist/
**/.bash_history/
**/.cache/
**/.config/
**/.ipynb_checkpoints/
**/.ipython/
**/.jupyter/
**/.keras/
**/.local/
**/.old/
**/old/
**/outputs/
**/.vscode-server/
**/.gnupg/
**/.ssh/

!data/
data/*

# ignore these files
*.pyc
*~
*.run.xml
